.navWrapper {
    border: 2px solid green;
    min-height: 300px
}

.listItem {
    border: 1px solid blue;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 0 0 0 5px
}

.inActive {
    color: green;
    font-size: 1.3rem;
    margin: 0 3px
}

.isActive {
    font-weight: bold;
}